body {
    margin: auto;
}

.wrapper {
    width: 600px;
    margin: auto;
    /*height: 100%;*/
    /*border: 1px solid blue;*/
}

.search-form {
    width: 500px;
    margin: auto;
    text-align: center;
    /*background-color: #f6f6f6;*/
}

/*.search-form_name {*/
    /*text-indent: 0px;*/
/*}*/

.search-form_name span:nth-child(1), .search-form_name span:nth-child(4) {
    color: #4285f4;
}

.search-form_name span:nth-child(2), .search-form_name span:nth-child(6) {
    color: #ec3305;
}

.search-form_name span:nth-child(3) {
    color: #ecd326;
}

.search-form_name span:nth-child(5) {
    color: #12a64a;
}

.search-form__text {
    font: 74px Arial;
    font-weight: bold;
    letter-spacing: -5px;
}

.search-form_input {
    width: 510px;
    height: 40px;
    margin: 20px auto;
    padding: 0 10px;
    font: 18px Arial;
    outline: none;
    border: none;
    box-shadow: 2px 2px 7px 1px rgba(209,209,209,1);
}

.search-form_button {
    width: 185px;
    height: 45px;
    font: 16px Arial;
    background-color: #eee;
    border-radius: 3px;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-form_button:hover {
    color: #000;
    border: 1px solid #c4c4c4;
}

.showResult {
    margin-top: 15px;
}

.post {
    margin: 20px 0;
}

.post_title {
    font: 22px Arial;
    text-decoration: none;
    color: #1a4ab5;
}

.post_url {
    font: 16px Arial;
    color: #317346;
    margin: 5px 0;
}

.post_text {
    font: 14px Arial;
}




